{
	"keys": {
		"application": "",
		"user": ""
	},
	"database": {
		"username": "pushreddit",
		"password": "RaNd0mPa55w0rD",
		"database": "pushReddit",
		"host":     "localhost"
	}
	"praw": {
		"useragent": "Customize This"
	}
}
